# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# other
*.bat
*.sh
*.o
input.c
input*.c
*.exe
linux
*.ilk
*.pdb
callgrind.out.*
out.txt
out*.txt
a.out
a*.out
trimOut.py
optTesting.py
StandardHeaders/mpaland/
SDL2.dll
SDL/

# =========================
# Operating System Files
# =========================
